<!DOCTYPE html>
{% extends "base.html" %}

   
    
   {% load static %}
     {% block body %}

    <section class="home" id="home">

        <div class="row">
    
            <div class="content">
                <h3>car <span>services</span></h3>
                <a href="/contact" class="btn">contact us</a>
            </div>
    
            <div class="image">
                <img src="{% static 'images/Car wash-amico.svg' %}" alt="">
            </div>
        </div>
    </section>
    <section class="count">

        <div class="box-container">
    
            <div class="box">
                <i class="fa-solid fa-car"></i>
                <div class="content">
                    <h3>Exterior</h3>
                    <p>wash</p>
                </div>   
           </div>
    
       <div class="box">
        <i class="fa-solid fa-car-side"></i>
        <div class="content">
            <h3>Car</h3>
            <p>tilt</p>
        </div>   
    </div>
    
    <div class="box">
        <i class="fa-solid fa-motorcycle"></i>
        <div class="content">
            <h3>Bike</h3>
            <p>service</p>
        </div>   
    </div>
    
    <div class="box">
        <i class="fa-solid fa-face-smile"></i>
        <div class="content">
            <h3>100%</h3>
            <p>full service</p>
        </div>   
    </div>
    
        </div>
    
    </section> 
   
     <!-- end block -->
 
   {% endblock body %}