{% extends "base.html" %}  
   {% load static %}
     {% block body %}
<!--Review section starts-->

<section class="reviews" id="reviews">

    <h1 class="heading">Customer <span>reviews</span></h1>

    <div class="swiper reviews-slider">

        <div class="swiper-wrapper">

            <div class="swiper-slide slide">
                <p>carwashexpress have been keeping our vehicles in excellent conditions for years. 
                   They does an amazing job. My whole family highly recommends him!</p>
                   <div class="user">
                    <img src="{% static 'images/Nayana.jpg' %}" alt="">
                    <div class="user-info">
                        <h3>Nayana v.k</h3>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                        </div>
                    </div>
                   </div>
            </div>

            <div class="swiper-slide slide">
                <p>carwashexpress did an excellent job on my poor abused 11 year old SUV. The interior was
                   spotless and so clean. Exterior looked almost brand new again. I will be a returning customer.</p>
                   <div class="user">
                    <img src="{% static "images/Nikitha.jpeg" %}" alt="">
                    <div class="user-info">
                        <h3>Nikitha S</h3>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            
                        </div>
                    </div>
                   </div>
            </div>

            <div class="swiper-slide slide">
                <p>They did a fantastic job! They were very accommodating and 
                   convenient. I would highly recommend this carwashexpress company.</p>
                   <div class="user">
                    <img src="{% static "images/vaishnavi 1.jpg" %}" alt="">
                    <div class="user-info">
                        <h3>Vaishnavi D S</h3>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            
                        </div>
                    </div>
                   </div>
            </div>

            <div class="swiper-slide slide">
                <p>I loved the location, professionalism and the quality of work. I will 
                   continue to use their service and highly recommend you look no further.</p>
                   <div class="user">
                    <img src="{% static 'images/nivya.jpg' %}" alt="">
                    <div class="user-info">
                        <h3>Nivya D</h3>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            
                        </div>
                    </div>
                   </div>
            </div>

            <div class="swiper-slide slide">
                <p>They did an amazing job. The car looks brand new. If it wasn't for the two car seats you wouldn't even know 
                   2 kids ride in there.</p>
                   <div class="user">
                    <img src="{% static 'images/nikilesh.jpg' %}" alt="">
                    <div class="user-info">
                        <h3>N Nikhilesh</h3>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                        </div>
                    </div>
                   </div>
            </div>

            <div class="swiper-slide slide">
                <p>Very impressed with the level of service. Great job with cleaning. Will do business with them again.</p>
                   <div class="user">
                    <img src="{% static 'images/kruthik.jpg' %}" alt="">
                    <div class="user-info">
                        <h3>Kruthik</h3>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                    </div>
                   </div>
            </div>

            <div class="swiper-slide slide">
                <p>I had the Organic Interior STEAM Cleaning and it was fabulous.... my car interior looked like new!!</p>
                   <div class="user">
                    <img src="{% static 'images/karthik.jpg' %}" alt="">
                    <div class="user-info">
                        <h3>Karthik</h3>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                        </div>
                    </div>
                   </div>
            </div>


            <div class="swiper-slide slide">
                <p>My car was filthy! I was embarrassed to have people ride with me due to coffee being spilled and just lack of interior care. My car looks and smells like new again. Thank You, carwashexpress</p>
                   <div class="user">
                    <img src="{% static 'images/Priyanka1.jpg' %}" alt="">
                    <div class="user-info">
                        <h3>Priyanka</h3>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                        </div>
                    </div>
                   </div>
            </div>



        </div>
        <div class="swiper-pagination"></div>
    </div>
</section>
<!--Review section Ends-->
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script>
    var swiper = new Swiper(".reviews-slider", {
  spaceBetween: 20,
  grabCursor:true,
  loop:true,
  pagination: {
    el: ".swiper-pagination",
    clickable: true,
  },
  breakpoints: {
      540: {
        slidesPerView: 1,
      },
      768: {
        slidesPerView: 2,
      },
      1024: {
        slidesPerView: 3,
      }
      
    },
});
</script> 

     {%endblock body%}